.leftHead {
    text-align:left;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.rightHead {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.loginBtn {
    background-color: black;
    color: white;
}