.card {
  background: #fff;
  border-radius: 2px;
  height: 80px;
  width: 80px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center;
}

.card > .img-container {
  height: 86%;
  overflow: hidden;
  text-align: center;
  background:white;
  
}
.card > .img-container > img {
  width: 100%;
  height: 100%;
  /* padding-right: 10%; */
  margin-left: 0%;
}

.card > .content {
  /* padding-left: rem;
  padding-right: 1rem; */
  font-size: 10px;
  background-color: #999;
  color: white;
  opacity: 1;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 0px;
}
img.cardBackground {
  opacity: .5;
 /* position: absolute; */
 height: 100%;
 width: 100%;

}

ul{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-bottom: 0%;
}

.cardMove {
  /* position: relative; */
  opacity: .6;
  margin-top: 0%;
  height: 100% !important;
}

  